* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

h2 {
  color: #280d67;
}

h3 {
  color: #2e126d;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

input {
  background-color: #fef6ff;
  border-color: #4b4453;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px;
  width: 100%;
  outline: none;
}

input:hover {
  cursor: pointer;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  justify-self: center;
  border: 1.5px solid #4b4453;
  border-radius: 6px;
  margin-bottom: 30px;
  margin-right: 16px;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.card p {
  font-size: 17px;
  padding: 5px;
  text-align: center;
}

.card img {
  max-width: 250px;
  max-height: 170px;
  box-sizing: border-box;
}
